In [1]:
# 모험가 길드

from collections import deque

n = int(input())
seq = list(map(int, input().split()))

seq.sort(reverse = True)
seq = deque(seq)

count = 0
while seq:
    time = seq[0]
    for i in range(time):
        seq.popleft()
    
    count += 1
    
print(count)

5
2 3 1 2 2
2

In [4]:
# 곱하기 혹은 더하기

s = input()

value = int(s[0])

for i in range(1, len(s)):
    if value <= 1:
        value += int(s[i])
        
    else:
        value *= int(s[i])
        
        
print(value)

567
210

In [5]:
# 문자열 뒤집기

s = input()

a = 0
b = 0

if not int(s[0]):
    a += 1
else:
    b += 1
    
for i in range(len(s)-1):
    if s[i] != s[i+1]:
        if s[i+1] == '0':
            a += 1
        else:
            b += 1
            
            
print(min(a, b))

0001100
1

In [7]:
# 만들 수 없는 금액

n = int(input())
seq = list(map(int, input().split()))

seq.sort()

value = 1
for i in seq:
    if value < i:
        break
    
    value += i
    # print(value)

print(value)

5
3 2 1 1 9
2
3
5
8
8

In [13]:
# 볼링공 고르기

from collections import defaultdict

n, m = map(int, input().split())
k = list(map(int, input().split()))

lst = defaultdict(int)

for i in k:
    lst[i] += 1
    
answer = 0
for i in range(1, m+1):
    n -= lst[i]
    answer += lst[i] * n
    
print(answer)

8 5
1 5 4 3 2 4 5 2
25

In [1]:
ord('가')

44032

In [12]:
print(chr(44031 + int(input())))

1
가

In [19]:
n, m = map(int, input().split())
lst = [[]]
for i in range(n):
    lst.append(list(map(int, input().split()))[1:])
    
barn = [0] * (m+1)

def sol(x):
    if visited[x]:
        return False
    
    visited[x] = 1
    
    for i in lst[x]:
        if not barn[i] or sol(barn[i]):
            barn[i] = x
            print(barn, x)
            return True

    return False


count = 0

for i in range(1, n+1):
    visited = [0] * (n+1)
    if sol(i):
        count += 1
    
    
print(count)

5 5
2 2 5
3 2 3 4
2 1 5
3 1 2 5
1 2
[0, 0, 1, 0, 0, 0] 1
[0, 0, 1, 0, 0, 1] 1
[0, 0, 2, 0, 0, 1] 2
[0, 3, 2, 0, 0, 1] 3
[0, 3, 2, 2, 0, 1] 2
[0, 3, 1, 2, 0, 1] 1
[0, 3, 1, 2, 0, 3] 3
[0, 4, 1, 2, 0, 3] 4
4

In [11]:
5 5
2 2 5
3 2 3 4
2 1 5
3 1 2 5
1 2

0

In [16]:
barn

[0, 4, 1, 2, 0, 3]

In [17]:
lst

[[], [2, 5], [2, 3, 4], [1, 5], [1, 2, 5], [2]]