In [ ]:
n, c = map(int, input().split())

lst = []
for i in range(n):
    lst.append(int(input()))
    
lst.sort()

start = 1
end = lst[n-1] - lst[0]
answer = 0


while start <= end:
    mid = (start + end) // 2
    
    temp = 0
    count = c-1
    
    for i in range(1, n):
        if lst[i] - lst[temp] >= mid:
            temp = i
            count -= 1
            
    if count > 0:
        end = mid - 1
    else:
        start = mid + 1
        answer = mid
        
        
print(answer)

In [ ]:
t = int(input())

for i in range(t):
    n = int(input())
    a, b = map(int, input().split())
    for j in range(n):
        u, v = map(int, input().split())
        
    print(f'Material Management {i+1}')
    print('Classification ---- End!')

In [ ]:
from itertools import product

lst = list(map(list, product(*[['E', 'I'], ['N', 'S'], ['F', 'T'], ['P', 'J']])))

n, m = map(int, input().split())

board = []
for i in range(n):
    board.append(list(map(str, input().rstrip())))

    
dx = [-1, -1, -1, 0, 1, 1, 1, 0]
dy = [-1, 0, 1, 1, 1, 0, -1, -1]

answer = 0

for i in range(n):
    for j in range(m):
        for k in range(8):
            temp = [board[i][j]]
            x = i
            y = j
            
            for p in range(3):
                x += dx[k]
                y += dy[k]
                
                if x < 0 or x >= n or y < 0 or y >= m:
                    break
                
                temp.append(board[x][y])

            #print(temp)               
            if temp in lst:
                answer += 1
            
            
print(answer)

In [6]:
sum(lst)

100

In [19]:
from collections import deque


n = int(input())
card = list(map(int, input().split()))

dp = [0] * n

for i in range(n):
    if card[i]:
        continue
        
    else:
        if card[i+1]:

1

https://www.acmicpc.net/problem/11721

In [ ]:
word = input()

for i in range(0, len(word), 10):
    print(word[i:i+10])

In [ ]:
# 해당 라벨에서 obj_type을 ORG로 변경할 것.

02 = [13, 364, 588, 1216, 4212, 5061, 6090, 8604, 11376, 14836, 15630, 18157, 18582, 21695, 23361, 23365, 23785, 25992, 29353, 31302, 
    31661, 32218, ]

In [ ]:
# 라벨을 바꾸고 obj_type을 LOC로 변경할 것.

02->7 = [286, 3226, 4423, 6281, 7441, 10309, 11401, 12092, 12309, 12714, 13327, 13617, 13502, 16593, 18065, 18502, 18558, 18848, 20268, 
       21989, 22478, 22676, 23059, 23656, 25227, 25576, 25703, 23819, 22940, 21565, 21255, 21340, 20763, 20344, 20340, 18812, 17352, 
       17048, 16946, 16726, 16246, 15652, 15190, 13118, 12717, 11810, 11353, 11354, 11360, 10628, 10538, 10351, 10280, 9938, 9761, 9356, 
       9255, 8290, 7294, 6903, 6617, 6186, 5989, 5628, 3848, 3031, 2545, 1307, 1093, 806, 135, 25930, 26045, 26478, 26532, 26945, 
       27148, 27683, 27721, 27745, 27795, 28330, 29143, 29375, 29382, 30235, 30910, 31210, 31234, 31348, 31865, 31901, 32409, 32422, 
       ]

In [ ]:
# 해당 라벨을 바꿀 것.

02->3 = [1990, 592, 2171, 3539, 8745, 11780, 22895, 31401]

02->20 = [4958, 18772, 31605, ]

02->0 = [5522, 7649, 29766, ]

02->1 = [16238, 23328, 30202, ]

02->19 = [16422, ]

017->4 = [21082]

028->15 = [21482]

017->21 = [24560]

In [ ]:
# 해당 라벨에서 subj_type과 obj_type을 org로 바꿀 것.

02 = [3118, ]

In [ ]:
# 라벨 변경 및, obj_type을 org로 변경할 것.

02->20 = [7365, 14859, 19704, 25507, 26034, ]

02->5 = [29316, 30018, ]

In [ ]:
# 라벨 변경 및 obj_type을 poh로 변경

02->3 = [9055, 14724, 16063, 16613, 20597, 21196, 26294, 27315, 27504, 29716, 29940, 32351, ]

라벨 4 obj_type을 전부 POH로 변경할 것.

라벨 11 OBJ_TYPE를 전부 LOC로 변경할 것..21개

라벨 17 OBJ_TYPE를 전부 PER로 변경할 것. 약 30개

In [ ]:
# 해당 라벨에서 subj_word와 obj_word 교환

2 = [9804,  ]

28 = [2585]

In [ ]:
12961	12961	PER	박제상	53	55	POH	국대부인	6	9	한반도에서 국대부인을 사용한 최초의 기록은 《삼국유사》로 신라 내물왕 때의 사람인 김제상(혹은 박제상)의 아내를 국대부인으로 기록하고 있다.

In [ ]:

def sol():
    df.loc[df.label_num == 4, ('obj_type')] = 'POH'
    df.loc[df.label_num == 11, ('obj_type')] = 'LOC'
    df.loc[df.label_num == 17, ('obj_type')] = 'PER'

In [ ]:
from collections import deque

n, q = map(int, input().split())
house = list(map(int, input().split()))

edge = [[] for _ in range(n+1)]
for i in range(n-1):
    a, b = map(int, input().split())
    edge[a].append(b)
    edge[b].append(a)
    
for i in range(q):
    s, e = map(int, input().split())
    
    if s == e:
        print(house[s-1] % 1000000007)
        continue
        
    
    queue = deque([(s, str(house[s-1]))])
    visited = [0] * (n+1)
    visited[s] = 1
    
    while queue:
        x, answer = queue.popleft()
        
        if x == e:
            print(int(answer) % 1000000007)
            break
        
        for i in edge[x]:
            if not visited[i]:
                queue.append((i, answer + str(house[i-1])))
                visited[i] = 1

In [ ]:
n = int(input())
price = list(map(int, input().split()))

info = [[] for _ in range(n)]
for i in range(1, n+1):
    p = int(input())
    for j in range(p):
        a, d = map(int, input().split())
        info[i-1].append((i, a, d))

In [10]:
n = int(input())
price = list(map(int, input().split()))

info = [[] for _ in range(n+1)]
for i in range(1, n+1):
    p = int(input())
    for j in range(p):
        a, d = map(int, input().split())
        info[i].append((a, d))
        
        

cur = price.index(min(price)) + 1
lst = {cur}
answer = min(price)



while len(lst) < n:
    for a, d in info[cur]:
        price[a-1] -= d
        if price[a-1] < 1:
            price[a-1] = 1
        
    target = 1001
    for i in range(n):
        if i+1 not in lst and price[i] < target:
            target = price[i]
            cur = i+1
            
    answer += price[cur-1]
    lst.add(cur)
    
    
print(answer)

4
10 15 20 25
2
3 10
2 20
0
1
4 10
1
1 10
36

In [8]:
4
10 15 20 25
2
3 10
2 20
0
1
4 10
1
1 10

In [9]:
type(a)

set

In [ ]:
from itertools import permutations as perm

n = int(input())
li = list(map(int, input().split()))

infos = [[] for _ in range(n)]
for i in range(n):
    p = int(input())
    for _ in range(p):
        a, d = map(int, input().split())
        a -= 1
        infos[i].append((a, d))
        
min_cost = float('inf')
for case in perm(range(n)):
    cost = 0
    bargained = [0] * n
    for v in case:
        cost += max(1, li[v] - bargained[v])
        for a, d in infos[v]:
            bargained[a] += d
            
    min_cost = min(min_cost, cost)
    
print(min_cost)

In [1]:
n = int(input())
s = input()

lst = [0] * 3
temp = 0

for i in range(n):
    if s[i] == 'W':
        lst[0] += 1
        
    elif s[i] == 'H':
        lst[1] += lst[0]
        
    elif s[i] == 'E':
        temp += lst[2]
        lst[2] += lst[1] + lst[2]
        
        
print(temp % int(1e9 + 7))

8
WAHEWHEE
6

In [ ]:
8
WAHEWHEE

In [22]:
lst

[3, 9, 63]

In [1]:
a = '123'

In [2]:
a[1:]

'23'

In [3]:
a[:2]

'12'

In [5]:
ab = input()

if len(ab) == 2:
    print(int(ab[0]) + int(ab[-1]))
elif len(ab) == 3:
    if ab[:2] == '10':
        print(10 + int(ab[-1]))
    else:
        print(10 + int(ab[0]))
else:
    print(20)

102
12