In [ ]:
# 모험가 길드

from collections import deque

n = int(input())
seq = list(map(int, input().split()))

seq.sort(reverse = True)
seq = deque(seq)

count = 0
while seq:
    time = seq[0]
    for i in range(time):
        seq.popleft()
    
    count += 1
    
print(count)

In [ ]:
# 곱하기 혹은 더하기

s = input()

value = int(s[0])

for i in range(1, len(s)):
    if value <= 1:
        value += int(s[i])
        
    else:
        value *= int(s[i])
        
        
print(value)

In [ ]:
# 문자열 뒤집기

s = input()

a = 0
b = 0

if not int(s[0]):
    a += 1
else:
    b += 1
    
for i in range(len(s)-1):
    if s[i] != s[i+1]:
        if s[i+1] == '0':
            a += 1
        else:
            b += 1
            
            
print(min(a, b))

In [ ]:
# 만들 수 없는 금액

n = int(input())
seq = list(map(int, input().split()))

seq.sort()

value = 1
for i in seq:
    if value < i:
        break
    
    value += i
    # print(value)

print(value)

In [ ]:
# 볼링공 고르기

from collections import defaultdict

n, m = map(int, input().split())
k = list(map(int, input().split()))

lst = defaultdict(int)

for i in k:
    lst[i] += 1
    
answer = 0
for i in range(1, m+1):
    n -= lst[i]
    answer += lst[i] * n
    
print(answer)

In [ ]:
ord('가')

In [ ]:
print(chr(44031 + int(input())))

In [ ]:
n, m = map(int, input().split())
lst = [[]]
for i in range(n):
    lst.append(list(map(int, input().split()))[1:])
    
barn = [0] * (m+1)

def sol(x):
    if visited[x]:
        return False
    
    visited[x] = 1
    
    for i in lst[x]:
        if not barn[i] or sol(barn[i]):
            barn[i] = x
            print(barn, x)
            return True

    return False


count = 0

for i in range(1, n+1):
    visited = [0] * (n+1)
    if sol(i):
        count += 1
    
    
print(count)

In [ ]:
5 5
2 2 5
3 2 3 4
2 1 5
3 1 2 5
1 2

In [ ]:
barn

In [ ]:
lst

In [ ]:
n, m = map(int, input().split())
lst = [[]]
for i in range(n):
    lst.append(list(map(int, input().split()))[1:])
    
barn = [0] * (m+1)

def sol(x):
    if visited[x]:
        return False
    
    visited[x] = 1
    
    for i in lst[x]:
        if not barn[i] or sol(barn[i]):
            barn[i] = x
            print(barn, x)
            return True

    return False


count = 0

for i in range(1, n+1):
    visited = [0] * (n+1)
    if sol(i):
        count += 1
    
    
print(count)

In [ ]:
n, m = map(int, input().split())

product = list(map(int, input().split()))
cost = list(map(int, input().split()))

product.sort(reverse = True)
cost.sort()


answer = 0
len_ = min(n, m)

for i in range(m):
    if product[i] - cost[i] > 0:
        answer += product[i] - cost[i]
    else:
        break
    
print(answer)

In [ ]:
5 5
6 7 8 9 10
2 3 4 5 6

5 3
927291536 144432154 222251432 846751354 648975123
105423157 28465 1354216