In [ ]:
n = int(input())

lst = set()
for i in range(n):
    lst.add(input())
    
lst = list(lst)
lst.sort()

lst = sorted(lst, key = lambda x : (len(x)))

In [ ]:
while True:
    word = input()
    if word == '0':
        break
        
    if word == word[::-1]:
        print('yes')
    else:
        print('no')

In [ ]:
n = int(input())

def sol(n):
    count = 0
    num = 666
    
    while True:
        if '666' in str(num):
            count += 1
            
        if count == n:
            print(num)
            break
            
        num += 1
        
sol(n)

In [ ]:
k, n = map(int, input().split())

lst = []
for i in range(k):
    lst.append(int(input()))
    
    
start = 0
end = max(lst)
answer = 0

while start <= end:
    mid = (start + end) // 2
    temp = 0
    
    for i in lst:
        if mid > 0:
            temp += i // mid
            
    if temp >= n:
        start = mid + 1
        answer = mid
    else:
        end = mid - 1
            
print(answer)

In [ ]:
n = int(input())
a = set(map(int, input().split()))
m = int(input())
b = list(map(int, input().split()))

for i in b:
    if i in a:
        print(1)
    else:
        print(0)

In [19]:
from collections import deque

t = int(input())
for _ in range(t):
    n, m = map(int, input().split())

'1'

In [32]:
n = int(input())

count = 0
num = 666
    
while True:
    if '666' in str(num):
        count += 1
            
    if count == n:
        print(num)
        break
            
    num += 1

2
1666

In [7]:
def miniMaxSum(arr):
    # Write your code here
    maxi = sum(arr[1:])
    mini = sum(arr[:-1])
    
    return mini, maxi
    

if __name__ == '__main__':

    arr = list(map(int, input().rstrip().split()))

    print(*miniMaxSum(arr))

1 2 3 4 5
10 14

In [8]:
s = '07:05:45PM'

In [9]:
s.split(':')

['07', '05', '45PM']

In [16]:
import math
import os
import random
import re
import sys

In [18]:


def timeConversion(s):
    # Write your code here
    check = 0
    if s[-2:] == 'PM':
        check = 12
        
    s = s[:-2].split(":")
    
    if check == 12:
        if s[0] != '12':
            s[0] = str(int(s[0]) + 12)
        else:
            s[0] = '00'
        
    return ":".join(s)

if __name__ == '__main__':
    

    s = input()

    result = timeConversion(s)
    
    print(result)

07:05:45PM
19:05:45

In [19]:
import math
import os
import random
import re
import sys

#
# Complete the 'timeConversion' function below.
#
# The function is expected to return a STRING.
# The function accepts STRING s as parameter.
#

def timeConversion(s):
    # Write your code here
    check = 0
    if s[-2:] == 'PM':
        check = 12
        
    s = s[:-2].split(":")
    
    if check == 12:
        if s[0] != '12':
            s[0] = str(int(s[0]) + 12)
        else:
            s[0] = '00'
        
    return ":".join(s)

if __name__ == '__main__':
    fptr = open(os.environ['OUTPUT_PATH'], 'w')

    s = input()

    result = timeConversion(s)
    
    

    fptr.write(result + '\n')

    fptr.close()

KeyError: 'OUTPUT_PATH'

In [21]:
import math
import os
import random
import re
import sys

#
# Complete the 'countingSort' function below.
#
# The function is expected to return an INTEGER_ARRAY.
# The function accepts INTEGER_ARRAY arr as parameter.
#

def countingSort(arr):
    # Write your code here
    counts = [0] * (max(arr) + 1)
    for i in range(n):
        counts[arr[i]] += 1
        
    return counts

if __name__ == '__main__':
    

    n = int(input().strip())

    arr = list(map(int, input().rstrip().split()))

    result = countingSort(arr)

100
63 54 17 78 43 70 32 97 16 94 74 18 60 61 35 83 13 56 75 52 70 12 24 37 17 0 16 64 34 81 82 24 69 2 30 61 83 37 97 16 70 53 0 61 12 17 97 67 33 30 49 70 11 40 67 94 84 60 35 58 19 81 16 14 68 46 42 81 75 87 13 84 33 34 14 96 7 59 17 98 79 47 71 75 8 27 73 66 64 12 29 35 80 78 80 6 5 24 49 82

In [23]:
def findZigZagSequence(a, n):
    a.sort()
    mid = int((n + 1)/2)
    a[mid], a[n-1] = a[n-1], a[mid]

    st = mid + 1
    ed = n - 1
    while(st <= ed):
        a[st], a[ed] = a[ed], a[st]
        st = st + 1
        ed = ed + 1

    for i in range (n):
        if i == n-1:
            print(a[i])
        else:
            print(a[i], end = ' ')
    return

test_cases = int(input())
for cs in range (test_cases):
    n = int(input())
    a = list(map(int, input().split()))
    findZigZagSequence(a, n)

1
5
1 2 3 4 5

IndexError: list index out of range

In [45]:
n = int(input())

dp = [0] * int(1e6+1)

for i in range(2, n+1):
    dp[i] = dp[i-1] + 1
    
    if not i % 2:
        dp[i] = min(dp[i], dp[i//2] + 1)
    if not i % 3:
        dp[i] = min(dp[i], dp[i//3] + 1)
        
print(dp[n])

10
3

In [ ]:
1 2 3 4 5 6 7

1 2 3 7 5 6 4
1 2 3 7 4 6 5
1 2 3 7

In [31]:
print(1, end = "|n")

1|n

In [18]:
a = 'abcd'

In [27]:
a[1:3]

'bc'

In [15]:

    # Write your code here
    alphabet = list('cdefghijklmnopqrstuvwxyz')
    mapping = {'a' : 1, 'b' : 1}
    num = 2
    cnt = 0
    for i in alphabet:
        mapping[i] = num
        cnt += 1
        if cnt == 3:
            num += 1
            cnt = 0
            
    length = len(input_str)
    
    lst = []
    for i in range(length):
        for j in range(i+1, length+1):
            lst.append(input_str[i:j])
    
    answer = 0
    for string in lst:
        hab = 0
        for j in string:
            hab += mapping[j]
            
        len_ = len(string)
        
        if not hab % len_:
            answer += 1
            
            
    return answer

In [54]:
if __name__ == '__main__':
   
    

    input_str = input().rstrip()
    alphabet = list('cdefghijklmnopqrstuvwxyz')
    mapping = {'a' : 1, 'b' : 1}
    num = 2
    cnt = 0
    for i in alphabet:
        mapping[i] = num
        cnt += 1
        if cnt == 3:
            num += 1
            cnt = 0
            
    length = len(input_str)
    
    lst = []
    for i in range(length):
        for j in range(i+1, length+1):
            lst.append(input_str[i:j])
    
    answer = 0
    for string in lst:
        hab = 0
        for j in string:
            hab += mapping[j]
            
        len_ = len(string)
        
        if not hab % len_:
            answer += 1

bef

In [57]:
lst

['b', 'be', 'bef', 'e', 'ef', 'f']

In [49]:
a = set(a)

In [137]:
import pandas as pd
data = pd.read_csv('C:/Users/Namlister/Downloads/초등학교_성적.csv', encoding = 'cp949')
data.head()
data['index'] = data['Unnamed: 0']

In [138]:
data['index'] = data['Unnamed: 0']
temp = pd.get_dummies(data.학년)
temp['index'] = [x for x in range(1000)]
data = pd.merge(data,temp,on='index')
# data.drop(,axis =1)
data = data.drop(['학년'],axis = 1)
data

,Unnamed: 0,성별,아침_식사_여부,수강_여부,IQ,국어_점수,수학_점수,평균_점수,index,1학년,2학년,3학년,4학년,5학년,6학년
0,0,여,1,0,113,74,72,73.0,0,0,0,0,0,1,0
1,1,여,1,1,130,88,69,78.5,1,0,0,1,0,0,0
2,2,여,1,0,135,93,90,91.5,2,0,0,0,0,0,1
3,3,남,0,0,99,44,47,45.5,3,0,0,0,1,0,0
4,4,남,1,0,119,75,76,75.5,4,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,여,1,1,139,95,88,91.5,995,0,0,0,0,0,1
996,996,남,0,0,97,55,62,58.5,996,1,0,0,0,0,0
997,997,여,0,1,112,65,59,62.0,997,1,0,0,0,0,0
998,998,여,1,1,119,77,68,72.5,998,0,0,1,0,0,0
999,999,여,0,0,127,86,77,81.5,999,0,0,1,0,0,0

In [158]:
def dum(data, colname):
#     data['index'] = data['Unnamed: 0']
    temp = pd.get_dummies(data, data[colname])
    temp['index'] = [x for x in range(len(data))]
    data = pd.merge(data,temp,on = 'index')
    data = data.drop(data[colname],axis = 1)
    return data

In [160]:
dum(data,'성별')

ValueError: Length of 'prefix' (1000) did not match the length of the columns being encoded (1).

     남  여
0    0  1
1    0  1
2    0  1
3    1  0
4    1  0
..  .. ..
995  0  1
996  1  0
997  0  1
998  0  1
999  0  1

[1000 rows x 2 columns]

In [111]:
from sklearn.svm import SVC

     남  여
0    0  1
1    0  1
2    0  1
3    1  0
4    1  0
..  .. ..
995  0  1
996  1  0
997  0  1
998  0  1
999  0  1

[1000 rows x 2 columns]